[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/tbb"]
	path = deps/tbb
	url = https://github.com/uxlfoundation/oneTBB
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm